# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env
.venv/

# Node
node_modules/
frontend/node_modules/
*.log
dist/
frontend/dist/

# VSCode etc
.vscode/
.DS_Store
backend/db.sqlite3
frontend/public/gallery/
frontend/public/logo.png
